html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #FFFDE7;
}

nav {
    position: sticky;
    top: 0;
    background: #FFF9C4; 
    display: flex;
    justify-content: center;
    padding: 12px 0;
    z-index: 100;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #d86c8b;
    font-weight: bold;
    padding: 8px 15px;
    bord
